<div class="addPostContainer">
<form method="post">
    <textarea class="field span10" rows="2" ng-model="title" placeholder="Title"></textarea>
    <textarea class="ckeditor" rows="10" cols="40" id="contentEditor" placeholder="content" name="contentEditor"></textarea>
    <br>
    <div>
        <select ui-select2 class="selectbox"  multiple  ng-model="SelectedSection" data-placeholder="Pick Section">
            <option ng-repeat="section in sections" value="{{section.name}}">
                {{section.name}}
            </option>
        </select>
    </div>
</form>
    <button class="btn-primary btn-large" ng-click="preview()">Preview</button>
</div>


