<div id="container">
    <div class="item note" ng-repeat="news in newsList">
        <img ng-src="{{news.imgSrc}}" width="200px" height="200px" >
        <label class="storyLabel">{{news.title}}</label>
    </div>
</div>
<script src="../js/external/jquery-1.8.3.min.js"></script>
<script src="../js/external/jquery.isotope.js"></script>
  <script>
    $(function(){
      
      var $container = $('#container');
      
     /*$('#container').isotope({
  		masonryHorizontal: {
    	rowHeight: 360
  		}
	 });*/

    $('#container').isotope({
      masonryHorizontal: {
      rowHeight: 460
      }
      });
    });


  </script>
  

