<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
                    Choose a site for authentication.We don't use this for any other purpose.Promise!
    </div>
    <div class="modal-body">
                <br/>
                <a>
                    <img
                            ng-click="performLogin('facebook')"
                            class="img-rounded"
                            height="48px"
                            width="48px"
                            alt="Facebook"
                            src="../resources/images/facebookLogo.png">
                </a>
                &nbsp;&nbsp;
                <a>
                    <img
                            ng-click="performLogin('google')"
                            class="img-rounded"
                            height="48px"
                            width="48px"
                            alt="Google"
                            src="../resources/images/googleLogo.png">
                </a>
                &nbsp;&nbsp;
                <a><img
                        ng-click="performLogin('github')"
                        class="img-rounded"
                        height="48px"
                        width="48px"
                        alt="GitHub"
                        src="../resources/images/githubLogo.png">
                </a>
    </div>
</script>


<script type="text/ng-template" id="Login.html">
    <div class="modal-header">
        Choose a site for authentication.We don't use this for any other purpose.Promise!
    </div>
    <div class="modal-body">
        <br/>
        <a>
            <img
                    ng-click="performLogin('facebook')"
                    class="img-rounded"
                    height="48px"
                    width="48px"
                    alt="Facebook"
                    src="../resources/images/facebookLogo.png">
        </a>
        &nbsp;&nbsp;
        <a>
            <img
                    ng-click="performLogin('google')"
                    class="img-rounded"
                    height="48px"
                    width="48px"
                    alt="Google"
                    src="../resources/images/googleLogo.png">
        </a>
        &nbsp;&nbsp;
        <a><img
                ng-click="performLogin('github')"
                class="img-rounded"
                height="48px"
                width="48px"
                alt="GitHub"
                src="../resources/images/githubLogo.png">
        </a>
    </div>
</script>